# 머신러닝 1주차 실습 // 파이썬 기초, Numpy, Pandas

## 파이썬 변수

In [1]:
a = 10
b = 3.14
c = 'h'
d = 'hello'
e = True

In [2]:
a,b,c,d,e

(10, 3.14, 'h', 'hello', True)

In [3]:
type(a), type(b), type(c), type(d), type(e)

(int, float, str, str, bool)

In [4]:
d * 3

'hellohellohello'

In [5]:
d[0:3]

'hel'

## 파이썬 List, Tuple, dictionary, set

### 리스트 : 여러 가지 형태의 값을 하나의 순서가 있는 형태로 묶어놓은 것
- 항목들은 쉼표로 구분하고, 대괄호 [ ]  안에 포함됨
- 각 항목들은 변경이 `가능`
- 변수를 리스트로 만들기 위해서 list 함수를 사용

In [6]:
li1 = [1,2,3,4]
li2 = ["Hello", "World"]
li3 = [1,2, "3", "Hello", 3.14]

In [7]:
li1, li2, li3

([1, 2, 3, 4], ['Hello', 'World'], [1, 2, '3', 'Hello', 3.14])

In [8]:
type(li1), type(li2), type(li3)

(list, list, list)

In [9]:
li1[0], li2[0], li2[0][0], li3[4]

(1, 'Hello', 'H', 3.14)

In [10]:
li1[0] = 1000
li1

[1000, 2, 3, 4]

### 튜플 : 여러가지 형태의 값을 하나의 순서가 있는 형태로 묶어놓은 것
- 리스트와 비슷하나 소괄호 () 안에 포함됨
- 각 항목들은 변경이 불가능

In [11]:
tuple1 = (1,2,3,4,5)
tuple2 = ("Hello", "World")
tuple3 = (1,2, "Hello", "W", "orld")

In [12]:
tuple1, tuple2, tuple3

((1, 2, 3, 4, 5), ('Hello', 'World'), (1, 2, 'Hello', 'W', 'orld'))

In [13]:
type(tuple1) , type(tuple2), type(tuple3)

(tuple, tuple, tuple)

In [14]:
tuple1[0], tuple2[1], tuple3[4]

(1, 'World', 'orld')

In [15]:
# Error 발생
# tuple1[0] = 10000

### 셋 (집합) : 여러가지 형태의 값을 묶어 놓은 것.
- 중복을 허용하지 않으며, 순서가 없음
- 항목들은 쉼표로 구분하고 중괄호 { } 안에 포함됨
- set() 함수를 사용하여 선언

In [16]:
set1 = {1,2,3}
set2 = {1, "3", 3.14}

In [17]:
set1, set2

({1, 2, 3}, {1, '3', 3.14})

In [18]:
type(set1), type(set2)

(set, set)

In [19]:
set3 = {1,1,1, "1"}
set3

{1, '1'}

### 딕셔너리 : 여러 가지 형태의 값을 key를 이용하여 묶어놓은 것
- key와 value의 쌍으로 구성되어 있음.
- 리스트나 튜플처럼 순차적으로 요소 값을 구하지 않고 Key를 통해 Value를 얻음
- 항목들은 쉼표로 구분하고 {} 안에 포함됨
- dict() 함수를 사용하여 선언가능

In [20]:
dict1 = {"이름" : "나영훈", 
         "학번" : 20185124,
  }

In [21]:
dict1, type(dict1)

({'이름': '나영훈', '학번': 20185124}, dict)

In [22]:
dict1["이름"]

'나영훈'

In [23]:
dict1["이름"] = "고성지"
dict1["학번"] = 20185103

In [24]:
dict1

{'이름': '고성지', '학번': 20185103}

In [25]:
dict1.keys()

dict_keys(['이름', '학번'])

In [26]:
dict1.values()

dict_values(['고성지', 20185103])

## 조건문 반복문

In [27]:
if dict1["이름"] == "고성지":
  print("학생의 이름은 고성지입니다.")
else:
  print("학생의 이름은 고성지가 아닙니다.")

학생의 이름은 고성지입니다.

In [28]:
if dict1["학번"] == 20185124:
  print("나영훈 학생의 학번입니다.")
elif dict1["학번"] == 20185103:
  print("고성지 학생의 학번입니다.")
else:
  print("일치하는 학번이 없습니다.")

고성지 학생의 학번입니다.

In [29]:
############ start, stop, step
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [30]:
for d in li1:
  print(d)

1000
2
3
4

In [31]:
for data in dict1:
  print(data) # Key print
  print(dict1[data]) # Key에 해당하는 Value Print

이름
고성지
학번
20185103

![image.png]()

# Numpy
- 수학, 과학, 공학, 데이터 과학 분야 응용 분야에서 Python으로 사용할 수 있는 open source 라이브러리
- C/C++와 Fortran과 통합하기 쉬움
- 데이터 구조
  - ndarray 클래스: array 클래스라고 부르기도 함
  - 동일한 데이터형 원소들(주로 숫자형 데이터)의 다차원 배열
  - indexing: 정수들의 tuple로 인덱스를 표현
  - broadcasting

- NumPy의 장점
  - 다차원 배열 또는 행렬 연산의 편리함
  - 우수한 메모리 효율
  - 빠른 처리 속도

In [32]:
import numpy as np

In [33]:
lst = [1, 3, 4]
lst2 = [[1, 3, 4], [3, 2, 1]]
a = np.array(lst)
a2 = np.array(lst2)

In [34]:
a, a2

(array([1, 3, 4]), array([[1, 3, 4],
        [3, 2, 1]]))

In [35]:
a[0], a2[-1], a[0:2]

(1, array([3, 2, 1]), array([1, 3]))

## 리스트와 Numpy ndarray의 차이점
1. 리스트 : 이질 데이터형 원소 가능 -> 리스트 안의 원소가 달라도 됨
2. Numpy : 동질 데이터형 원소만 가능 -> Numpy의 ndarray에는 같은 타입의 원소만 들어가야 함

In [36]:
li3

[1, 2, '3', 'Hello', 3.14]

In [37]:
nd1 = np.array(li3)
nd1

array(['1', '2', '3', 'Hello', '3.14'], dtype='<U32')

## 다차원 배열

#### array를 이용한 배열 생성

In [38]:
np.array([[1,2,3],
          [4,5,6],
          [7,8,9]])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [39]:
np.array([1,2,3,4,5,6,7,8,9]).reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

#### arange를 이용한 배열 생성

In [40]:
np.arange(1, 10).reshape(3,3)
# np.arange(1,10, 1) # start stop step

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
ndarray1 = np.arange(1, 13)
ndarray1.reshape(3,2,2)
# np.arange(1,13, 1) # start stop step

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [42]:
ndarray1.reshape(3, 4)
# np.arange(1,13, 1) # start stop step

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [43]:
ndarray1.reshape(4, -1)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

#### linspace를 이용한 배열 생성

In [44]:
np.linspace(1, 10, 3)

array([ 1. ,  5.5, 10. ])

#### 그 외

In [45]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [46]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [47]:
np.full((2,2,), 100)

array([[100, 100],
       [100, 100]])

In [48]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [49]:
ones = np.ones((3,3))
ones.shape

(3, 3)

In [50]:
ones.size

9

In [51]:
ones.ndim # 차원

2

### Numpy의 연산
- Numpy의 Array 연산은 BroadCast(Element Wise) 연산으로 이루어짐. 
  - Array 간의 연산은 각 요소별 연산이 이루어지며, 연산 함수 또는 연산자를 이용
  - Array와 Scalar간의 연산은 Scalar값이 Array 각 요소별 연산

![image.png]()

In [52]:
x = np.array([[1,2], [3,4]])
y = np.array([[1,2], [5,6]])

In [53]:
x

array([[1, 2],
       [3, 4]])

In [54]:
y

array([[1, 2],
       [5, 6]])

In [55]:
x+y

array([[ 2,  4],
       [ 8, 10]])

In [56]:
x + 3

array([[4, 5],
       [6, 7]])

In [57]:
th = np.full((2,2), 3)
th

array([[3, 3],
       [3, 3]])

In [58]:
x + th

array([[4, 5],
       [6, 7]])

## 인덱싱
- 정수 인덱싱
- Boolean 인덱싱

In [59]:
array = np.arange(81).reshape(9,9)
array

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [60]:
array[0]

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [61]:
array[-1]

array([72, 73, 74, 75, 76, 77, 78, 79, 80])

In [62]:
array[0,0]

0

In [63]:
array[-1, 1]

73

In [64]:
array[0:3]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26]])

In [65]:
array[0:5:2]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [36, 37, 38, 39, 40, 41, 42, 43, 44]])

In [66]:
array[0::3]
# array[::3]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [54, 55, 56, 57, 58, 59, 60, 61, 62]])

In [67]:
array[::-1]

array([[72, 73, 74, 75, 76, 77, 78, 79, 80],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8]])

In [68]:
array>10

array([[False, False, False, False, False, False, False, False, False],
       [False, False,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True]])

In [69]:
array[array>10]

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
       45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
       62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78,
       79, 80])

## Numpy의 함수
- min, max, mean, median, quantile, std, var, corrcoef, argmin, argmax, cumsum, cumprod ...ect

In [70]:
array

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [71]:
array.sum()

3240

In [72]:
array = np.arange(9).reshape(3,3)
array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [73]:
array.sum()

36

In [74]:
array.sum(axis = 1)

array([ 3, 12, 21])

In [75]:
array.sum(axis = 0)

array([ 9, 12, 15])

![image.png]()

# pandas
- 데이터 조작을 위한 빠르고 효율적인 DataFrame 객체 지원
- 인메모리 데이터 구조와 csv, txt, excel, sql 등과 같은 다양한 형태 지원
- 지능형 데이터 정렬 및 누락 데이터의 통합 처리
- 시계열 기능 지원

## Pandas의 핵심 데이터 구조
- Numpy ndarray를 기반으로 함
- Series: 동일 유형 데이터를 가질 수 있는 `라벨이 붙은 1차원 배열(labeled array)`. 크기 변경 불가능
- DataFrame: 2차원 데이터 컬럼을 가질 수 있는 일반적인 2차원 라벨이 붙은 구조 크기 변경 가능 
  - 다차원 배열을 다룰 수 있는 Numpy와는 다르게 2차원 데이터 구조에 특화된 모듈
  - DataFrame은 여러개의 Serias를 Key로 접근이 가능한 Dictionary와 유사

## Pandas Series 객체
- 모든 데이터 유형을 보유할 수 있는 1차원 라벨이 붙은 배열 (labeled array)
- 라벨들을 집합적으로 index라고 부름
- 0 개 이상의 동일한 유형의 데이터 수용
- Series 생성자의 파라미터로 스칼라, NumPy ndarray, Python list, Python Dict 사용 가능

In [76]:
import pandas as pd
series = pd.Series([1,2,3])
series

0    1
1    2
2    3
dtype: int64

In [77]:
series = pd.Series([1,2,3], index = ['A', 'B', 'C'])
series

A    1
B    2
C    3
dtype: int64

In [78]:
# pandas에서 DataFrame 생성 
# pandas에서 DataFrame을 만들기 위해서는 DataFrame() 함수를 사용
# DataFrame 생성시 index 매개변수를 이용하여 행 인덱스 지정이 가능하며, columns 매개변수를 이용하여 열 인덱스 지정이 가능
dataframe = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])
dataframe

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [79]:
dataframe = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], 
                         index=  ['A', 'B', 'C'], columns = ['X1', "X2", 'X3'])
dataframe

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

In [80]:
# Dictionary를 이용하여 series 혹은 DataFrame 생성 가능
# series 의 경우 Key가  행 index로 지정
series = pd.Series({'A':[1,2,3], 'B':[2,3,4]})
series

A    [1, 2, 3]
B    [2, 3, 4]
dtype: object

In [81]:
# Dictionary를 이용하여 series 혹은 DataFrame 생성 가능
# DataFrame 의 경우 Key가 열 index로 지정
df = pd.DataFrame({'A':[1,2,3], 'B':[2,3,4]})
df

   A  B
0  1  2
1  2  3
2  3  4

### Series 의 자료 구조 속성

In [82]:
series.ndim

1

In [83]:
series.shape

(2,)

In [84]:
series.index

Index(['A', 'B'], dtype='object')

In [85]:
series.values

array([list([1, 2, 3]), list([2, 3, 4])], dtype=object)

### DataFrame 의 자료 구조 속성

In [86]:
df.ndim

2

In [87]:
df.shape

(3, 2)

In [88]:
df.values

array([[1, 2],
       [2, 3],
       [3, 4]])

In [89]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [90]:
df.columns

Index(['A', 'B'], dtype='object')

In [91]:
dataframe = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])
dataframe

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [92]:
# DataFrmae 생성할 때 columns 혹은 index 지정을 못해주었다면?
dataframe.columns = ['X1', 'X2', "X3"]
dataframe

   X1  X2  X3
0   1   2   3
1   4   5   6
2   7   8   9

In [93]:
# DataFrmae 생성할 때 columns 혹은 index 지정을 못해주었다면?
dataframe.index = ['A1', 'A2', "A3"]
dataframe

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9

In [94]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A1 to A3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      3 non-null      int64
 1   X2      3 non-null      int64
 2   X3      3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [97]:
array = np.arange(9, 18, 1).reshape(3,3)
array

array([[ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17]])

In [98]:
df2 = pd.DataFrame(array)
df2

    0   1   2
0   9  10  11
1  12  13  14
2  15  16  17

In [101]:
dataframe.append(df2)

     X1   X2   X3     0     1     2
A1  1.0  2.0  3.0   NaN   NaN   NaN
A2  4.0  5.0  6.0   NaN   NaN   NaN
A3  7.0  8.0  9.0   NaN   NaN   NaN
0   NaN  NaN  NaN   9.0  10.0  11.0
1   NaN  NaN  NaN  12.0  13.0  14.0
2   NaN  NaN  NaN  15.0  16.0  17.0

In [104]:
df2.columns = ['X1', "X2", "X3"]
df2

    X1  X2  X3
X1   9  10  11
X2  12  13  14
X3  15  16  17

In [105]:
df2.index = ['A1', "A2", "A3"]
df2

    X1  X2  X3
A1   9  10  11
A2  12  13  14
A3  15  16  17

In [106]:
dataframe.append(df2)

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9
A1   9  10  11
A2  12  13  14
A3  15  16  17

In [107]:
df3 = dataframe.append(df2)
df3

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9
A1   9  10  11
A2  12  13  14
A3  15  16  17

In [110]:
df3.head()

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9
A1   9  10  11
A2  12  13  14

In [111]:
df3.head(3)

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9

In [112]:
df3.tail()

    X1  X2  X3
A2   4   5   6
A3   7   8   9
A1   9  10  11
A2  12  13  14
A3  15  16  17

In [113]:
df3.tail(2)

    X1  X2  X3
A2  12  13  14
A3  15  16  17

In [114]:
df3.describe()

              X1         X2         X3
count   6.000000   6.000000   6.000000
mean    8.000000   9.000000  10.000000
std     5.138093   5.138093   5.138093
min     1.000000   2.000000   3.000000
25%     4.750000   5.750000   6.750000
50%     8.000000   9.000000  10.000000
75%    11.250000  12.250000  13.250000
max    15.000000  16.000000  17.000000

In [120]:
# DataFrame의 index 슬라이싱
df3[1:3]
# df3[1:3:1] # start, stop, step -> 파이썬에서는 주로 start이상 stop미만

    X1  X2  X3
A2   4   5   6
A3   7   8   9

In [126]:
# DataFrame의 index 슬라이싱
df3[0:5:2] # 2부터 5까지 index기준으로 움직임, columns 아님에 주의

    X1  X2  X3
A1   1   2   3
A3   7   8   9
A2  12  13  14

In [131]:
df3.index = ['A1', "A2", "A3", "A4", "A5", "A6"]
df3

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9
A4   9  10  11
A5  12  13  14
A6  15  16  17

In [132]:
df3["A1":"A3"]

    X1  X2  X3
A1   1   2   3
A2   4   5   6
A3   7   8   9

## DataFrame의 Indexing & Slicing
- 여러 개의 행을 가지고 오고 싶은 경우에는 조건 인덱싱을 이용
- 여러 개의 열을 가지고 오고 싶은 경우에는 팬시 인덱싱을 이용

1. 조건 인덱싱 : 아래와 같이 조건문을 삽입하는 방법
2. 팬시 인덱싱 : [ ] 안에 배열 혹은 리스트가 들어가는 방법

In [133]:
df3 > 10

       X1     X2     X3
A1  False  False  False
A2  False  False  False
A3  False  False  False
A4  False  False   True
A5   True   True   True
A6   True   True   True

In [134]:
df3[df3 > 10]

      X1    X2    X3
A1   NaN   NaN   NaN
A2   NaN   NaN   NaN
A3   NaN   NaN   NaN
A4   NaN   NaN  11.0
A5  12.0  13.0  14.0
A6  15.0  16.0  17.0

In [135]:
df3[['X1', 'X3']] # 팬시 인덱싱

    X1  X3
A1   1   3
A2   4   6
A3   7   9
A4   9  11
A5  12  14
A6  15  17

## 과제

1. 1부터 100까지 2씩 증가하는 numpy ndarray 타입의 배열을 만들고 dst에 저장하라

In [139]:
# dst = np.arange(start, stop, step)
# dst

2. dst 배열의 차원을 출력

(50,)

3-1. dst의 모양을 5개의 행과 10개의 열을 가진 형태로 변경
3-2. dst의 모양을 3차원 형태로 변경 (형태는 자유 3차원이기만 하면 됨)

array([[ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29, 31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49, 51, 53, 55, 57, 59],
       [61, 63, 65, 67, 69, 71, 73, 75, 77, 79],
       [81, 83, 85, 87, 89, 91, 93, 95, 97, 99]])

array([[[ 1,  3,  5,  7,  9],
        [11, 13, 15, 17, 19],
        [21, 23, 25, 27, 29],
        [31, 33, 35, 37, 39],
        [41, 43, 45, 47, 49]],

       [[51, 53, 55, 57, 59],
        [61, 63, 65, 67, 69],
        [71, 73, 75, 77, 79],
        [81, 83, 85, 87, 89],
        [91, 93, 95, 97, 99]]])

4. 다음과 같은 연산이 어떻게 수행되는지 서술하기.

`정답 : `

In [151]:
a1 = np.arange(10).reshape(10,1)
a1

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [152]:
a2 = np.arange(10).reshape(1,10)
a2

array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [153]:
a1 + a2

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13],
       [ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
       [ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
       [ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
       [ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]])

5. 다음 Numpy ndarray의 dst DataFrame으로 변환하시오

In [172]:
dst = np.arange(1, 60, 3).reshape(4, -1)
dst

array([[ 1,  4,  7, 10, 13],
       [16, 19, 22, 25, 28],
       [31, 34, 37, 40, 43],
       [46, 49, 52, 55, 58]])

    0   1   2   3   4
0   1   4   7  10  13
1  16  19  22  25  28
2  31  34  37  40  43
3  46  49  52  55  58